<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tournament</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<section class="page-section">

    <div class="page-header">
        <h1>Create Tournament</h1>
    </div>

    <form class="battle-form" method="POST">

        <input
            type="text"
            name="title"
            placeholder="Tournament Name"
            required
        >

        <input
            type="text"
            name="genre"
            placeholder="Genre"
            required
        >

        <textarea
            name="topic"
            placeholder="Topic"
            required
        ></textarea>

        <input
            type="number"
            name="buy_in"
            placeholder="Buy In Tokens"
            required
        >

        <button type="submit" class="primary-btn">
            CREATE
        </button>

    </form>

</section>

</body>
</html>